body{
    background-color: black;
    
}

.logo{
   padding-left: 45%;

}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-left: 35%;
    margin-top: 0%;
    font-size: 80px;
}

hr{
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 700, from(white), to(black));
    
}

.Leave_Warning{
  color: rgb(255, 140, 0);
  font-weight: bolder;
  font-size: 22px;
}



/* Style the links inside the sidenav */
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -90px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #about {
    top: 20px;
    background-color:#04AA6D ;
  }
  
  #blog {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #projects {
    top: 140px;
    background-color: #f44336; /* Red */
  }
  
  #contact {
    top: 200px;
    background-color: #555 /* Light Black */
  }
  
  .card {
  box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.2);
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 70px;
}

.leave_card{

    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.2);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: auto;

}

.title {
  color: grey;
  font-size: 18px;
}


.name{
    margin: auto;
    font-size: 50px;
}

.infoo{
    color: wheat;
    margin-top: 20px;

}

img{
    border-radius: 50%;
    margin-bottom: 20px;
}

.h2_leaveinfo{
    color: white;
}

table{
    color: wheat;
    margin: auto;
    
    
}

tr{
    height: 50px;
}

th{
    font-size: x-large;
}

.Personal_Details_table{
    padding: auto;
}

.button_leave {
    transition-duration: 0.4s;
    width: 500px;
    color: #f44336;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .button_leave:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

.printbutton
{
  background-color: #4a83f4; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 2%;
}
  